SHANNON_APP_NAME=Shannon-py
SHANNON_ENVIRONMENT=local
SHANNON_LOG_LEVEL=INFO
SHANNON_API_PREFIX=/api/v1
SHANNON_TESTING=false
SHANNON_DEFAULT_PROVIDER=mock
SHANNON_DEFAULT_MODEL=mock-default
SHANNON_ENABLE_SHELL_TOOLS=false
